# Ignore VS Code settings
.vscode/

# Java build files
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Temporary files
*.tmp
*.swp

# OS junk files
.DS_Store
Thumbs.db
venv/
__pycache__/
*.pyc

# IDE settings (Eclipse, IntelliJ, NetBeans)
.idea/
*.iml
.project
.classpath
.settings/
nbproject/
. v s c o d e /  
 . v s c o d e / 
# Environment-specific files
*.exe
*.bat
*.ps1 
 